<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cadastro.css">
    <title>Busca High</title>
</head>

<body>
    <div class="card">
        <section class="avatar"
            style="background:url(https://source.unsplash.com/collection/332741/1600x900) no-repeat center center / cover">
        </section>
        <section class="details">
            <form method="POST" action="/buscar/colaboradores">
                <h3>Buscar colaborador</h3>
                <div class="item">
                    <div>Nome</div>
                    <input type="text" name="name" placeholder="Wallison Lima" >
                </div>
                <div class="item">
                    <div>Email</div>
                    <input type="email" name="email" placeholder="nome@gmail.com" >
                </div>
                <div class="item">
                    <div>Telefone</div>
                    <input type="number" name="phone" placeholder="(11)91234-5678" >
                </div>
                <div class="item">
                    <div>Cargo</div>
                    <input type="text" name="occupation" placeholder="programador" >
                </div>
                <div class="item">
                    <div>Data de nascimento</div>
                    <input type="date" name="birth" placeholder="dd/mm/aaaa" >
                </div>
                <button class="button" type="submit">Buscar</button><br><br>
                <div class="container"><a type="button" href="/" class="button">Voltar</a></div>
                
            </form>
        </section>
    </div>
</body>

</html>