<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>RH High Stakes</title>
</head>

<body>
    <div id="all">
        <div class="container">
            <div class="card">
                <a href="/cadastrar">
                    <div class="circle">
                        <h2>Cadastrar</h2>
                    </div>
                    <div class="content">
                        <p>Cadastro de funcionários</p>
                        <a href="/cadastrar">Acessar</a>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="/buscar">
                    <div class="circle">
                        <h2>Buscar</h2>
                    </div>
                    <div class="content">
                        <p>Busca de Colaboradores Cadastrados</p>
                        <a href="/buscar">Acessar</a>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="/atualizar">
                    <div class="circle">
                        <h2>Atualizar</h2>
                    </div>
                    <div class="content">
                        <p>Atualização de Colaboradores Cadastrados</p>
                        <a href="/atualizar">Acessar</a>
                    </div>
                </a>
            </div>
        </div>
        <!-- <form action="/creatCollabs" method="POST">
            <div class="container">
                <h1>Cadastro</h1>
                <p>Por favor preecha o cadastro de funcionário</p>
                <hr>

                <label for="nome"><b>Nome</b></label>
                <input type="text" placeholder="Jonh" name="nome" id="nome" required>

                <label for="cargo"><b>Cargo</b></label>
                <input type="text" placeholder="Programador" name="cargo" id="cargo" required>

                <label for="telefone"><b>Telefone</b></label>
                <input type="number" placeholder="telefone" name="telefone" id="phone" required>
                <hr>

                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                <button type="submit" class="registerbtn" >Register</button>
            </div>

            <div class="container signin">
                <p>Already have an account? <a href="#">Sign in</a>.</p>
            </div>
        </form> -->
    </div>

    <script src="/controllers/Collab/CreatCollab.js"></script>






</body>

</html>