@keyframes slideLeft{
    from{opacity: 0; transform: translateX(-30px);}
    to{opacity:1; }
}
body{
    position:relative;
}
input[type=text], input[type=date], input[type=email], input[type=number]{
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
select{
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
}
.card{
    position: relative;
    margin: 2px auto;
    width: 1000px;
    min-height: 400px;
    background-color: #f5f5f5f5;
    box-shadow: 24px 26px 23px 3px rgba(0, 0, 0, 0.3);
    animation: slideLeft 400ms ease;
    display:grid;
    grid-template-columns: 40% 60%;
    top:10vh;
}
.details{
    padding: 32px;
}
.details h3{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    text-align: center;
}
.item{
    padding: 16px 0;
}
.item div:first-child{
    border-top: 1px solid rgba(0,0,0,0.3);
}
.item div:nth-child(1){
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #555;
}
.item div:nth-child(2){
    letter-spacing: 0.5px;
    color: #777;
}
.item div span{
    color: black;
    display: inline-block;
    background-color:darkgoldenrod;
    border-radius: 16px;
    padding: 8px;
}
section.details a{
    display: block;
    box-sizing: border-box;
    background-color: #555;
    text-decoration: none;
    color: #fff;
    text-align:  center;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.button {
    display: block;
    box-sizing: border-box;
    background-color: #555;
    text-decoration: none;
    color: #fff;
    text-align:  center;
    font-weight: bold;

    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
}
section.details a:hover{
    transition: border 300ms ease-in, color 300ms ease;
    border: 2px solid var(--link-color);
    color: var(--link-color);
}
.table-container{
    display: block;
}
.table-container table{
    width: 100%;
    height: 100%;
}
.table-container table thead{
    display: block;
}
.table-container table thead tr{
    display:grid;
    grid-template-columns: 100px 210px 200px 200px 68px;
    width: 100%;
    
}
.table-container table thead tr th{
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 18px;
}
.table-container table tbody tr{
    display: grid;
    grid-template-columns: 100px 210px 200px 200px 68px;
    grid-template-rows: 50px;
    align-items: center;
    grid-row-gap: 10px;
}

.table-container table tbody tr td:first-child{
    width: 45px;
    height: 45px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px -3px black;
    border-radius: 50%;
    justify-self: center;
}

.table-container table tbody tr td{
    padding: 8px;
    justify-self: center;
}
.table-container table tbody tr{
    border-bottom: 1px solid #777;
}
.table-container table tbody tr td a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--link-color);
    color: var(--title-color);
    padding: 5px;
    border-radius: 8px;
}
.table-container table tbody tr td:nth-child(3) span{
    color: black;
    display: inline-block;
    background-color:var(--link-color);
    border-radius: 16px;
    padding: 6px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px -1px black;
}
.table-container table tbody tr td a:hover{
    transition: all 400ms ease-in-out;
    filter: drop-shadow(2px 2px 10px var(--link-color) ) brightness(200%);
}
.table-container #register{
    position: absolute;
    background-color: var(--link-color);
    width: 120px;
    color:var(--title-color);
    right: 0px;
    bottom: -15px;
    border-radius: 8px;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 12px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
}
.table-container #register:hover{
    transition: all 400ms ease;
    color: white;
}
